@model IEnumerable<Anime>
<!doctype html>
<html>
	<head>
		<title>Home Page</title>
		<meta charset="utf-8" />
				<script src="~/js/jquery-3.6.1.js"></script>
				<script src="~/js/AllAnimesPageScripts.js"></script>
				<link rel="stylesheet" href="/css/StyleSheet.css">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link href="/css/style.css" rel="stylesheet">

		<base href="/" />
	</head>
	
	<body>
	<header>
		<input  type="checkbox" id="burger"/>
		<label for="burger">&#8801</label>
		<nav>
				
			<ul class="nav_bar">
				<li class="nav-bar-element"><p>AnimeHouse</p></li>
				<li class="nav-bar-element page-controllers"><a class="active" asp-action="Main" asp-controller="Home">Home</a></li>
				<li class="nav-bar-element page-controllers"><a asp-action="DevelopersPage" asp-controller="Home">DevPage</a></li>
				@if (User.IsInRole("admin") || @User.IsInRole("moderator"))
				{
					<li  class="nav-bar-element page-controllers"><a asp-action="UserList" asp-controller="Admin">User's List</a></li>
					<li   class="nav-bar-element page-controllers"><a asp-action="CreateTitle" asp-controller="Admin" >Create Title</a></li>
				}
				<li   class="nav-bar-element page-controllers"><a asp-action="GetListAnime" asp-controller="Anime">Anime</a></li>
				@if(User.Identity.IsAuthenticated) {
					<li  class="nav-bar-element page-controllers"><a asp-action="Services" asp-controller="Profile">@User.Identity.Name</a></li>
		
					<li  class="nav-bar-element page-controllers">
						<form method="post" asp-controller="Account" asp-action="Logout">
							<input type="submit" value="Выход" />
						</form>
					</li>
				}
				else {
					<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Login">Login</a></li>
					<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Registration">Registration</a></li>
				}
				<li   class="nav-bar-element page-controllers" id="notice"><label for="notice_box"><img src="/img/bell.png" width="30px" height="30px"></label></li>

			</ul>
		</nav>
	</header>
	<input style="display: none" type="checkbox" id="notice_box" />
	<div class="open-notice">
		<div class="notice-info">Don't forget to upgrade your premium subscription</div>
		<div class="notice-info">Add 2FA to save your account</div>
		<div class="notice-info">Leave comments and add favorites animes</div>
	</div>
		<main style="display: flex; flex-direction: column; justify-items: center; justify-content: center; align-items: center;">
			<h2>Search of animes</h2>
			<form id="search_anime">
				<input name="animeTitle" type="text"  />
				<input type="submit" id="search"value="Search"/>
			</form>
			<h2>Anime List</h2>
				<div id="anime_list" class="anime-list">
					@if (Model != null)
					{
						int pos = 0;
						@foreach(var anime in Model) {
							<div class="anime-container" id="@pos">
								<div class="background-card">
									<div class="anime-list-item">
										<div class="anime-list-item-img">
											<img src="@(@anime.Path + anime.ImgName)" width="200" height="250" alt="Cant found img">
										</div>
										<div class="anime-list-item-info">
											<a asp-action="AnimePage" asp-controller="Anime" asp-route-title="@anime.TitleName" asp-route-episod=1>@anime.TitleName</a>
											<div class="short-desc">
												<p>Count episods</p>
												<p>Short desc</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							pos++;

						}
					}
					else
					{
						<h2>We can find nothing</h2>
					}
			</div>
			
	

		</main>
				<footer>
			<div class="social">
				<a class="icons instagram" href="#">
					<i class="fab fa-instagram"></i>
				</a>
				<a class="icons youtube" href="#">
					<i class="fab fa-youtube"></i>
				</a>
				<a class="icons git" href="#">
					<i class="fab fa-github"></i>
				</a>
				<a class="icons telegram" href="#">
					<i class="fab fa-telegram"></i>
				</a>
				<a class="icons odnoklassniki" href="#">
					<i class="fab fa-odnoklassniki"></i>
				</a>
				<a class="icons vk" href="#">
					<i class="fab fa-vk"></i>
				</a>
			</div>
		</footer>

	
</body>
</html>