@model IEnumerable<Anime>
<!doctype html>
<html>
	<head>
		<title>Home Page</title>
		<meta charset="utf-8" />
				<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
				<script src="~/js/jquery-3.6.1.js"></script>
				<script src="~/js/AllAnimesPageScripts.js"></script>
				<link rel="stylesheet" href="/css/StyleSheet.css">


		<base href="/" />
	</head>
	
	<body>
		<header>
			<input  type="checkbox" id="burger"/>
			<label for="burger">&#8801</label>
			<nav>
				
				<ul class="nav_bar">
						<li class="nav-bar-element"><p>AnimeHouse</p></li>
						 <li class="nav-bar-element page-controllers"><a class="active" asp-action="Main" asp-controller="Home">Home</a></li>
							@if (User.IsInRole("admin") || @User.IsInRole("moderator"))
							{
								<li  class="nav-bar-element page-controllers"><a asp-action="UserList" asp-controller="Admin">User's List</a></li>
								<li   class="nav-bar-element page-controllers"><a asp-action="CreateTitle" asp-controller="Admin" >Create Title</a></li>
							}
							<li   class="nav-bar-element page-controllers"><a asp-action="GetListAnime" asp-controller="Anime">Anime</a></li>
							@if(User.Identity.IsAuthenticated) {
								<li  class="nav-bar-element page-controllers"><a asp-action="Services" asp-controller="Profile">@User.Identity.Name</a></li>
		
								<li  class="nav-bar-element page-controllers">
									<form method="post" asp-controller="Account" asp-action="Logout">
										<input type="submit" value="Выход" />
									</form>
								</li>
							}
							else {
								<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Login">Login</a></li>
								<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Registration">Registration</a></li>
							}
					 
				</ul>
			</nav>
		</header>
		<main style="display: flex; flex-direction: column; justify-items: center; justify-content: center; align-items: center;">
			<h2>Search of animes</h2>
			<form id="search_anime">
				<input name="animeTitle" type="text"  />
				<input type="submit" id="search"value="Search"/>
			</form>
			<h2>Anime List</h2>
			<div id="anime_list" class="anime-list">
				@if (Model != null) {

					@foreach(var anime in Model) {
				
							<div class="anime-list-item">
								<div class="anime-list-item-img">
									<img src="@(@anime.Path + anime.ImgName)" width="200" height="250" alt="Cant found img">
								</div>
								<div class="anime-list-item-info">
									<a asp-action="AnimePage" asp-controller="Anime" asp-route-title="@anime.TitleName" asp-route-episod=1 >@anime.TitleName</a>
								</div>
							</div>
					}
				}
				else
				{
					<h2>We can find nothing</h2>
				}

		</div>
		</main>
		
	
</body>
</html>