@using AnimeHouse.Data
@using AnimeHouse.ViewModels.AnimeModels;
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@model AnimePageViewModel
@inject ApplicationContext db
<!doctype html>
<html>
	<head>
		<base href="/" />		
		<title>Home Page</title>
		<meta charset="utf-8" />
		<script src="~/js/jquery-3.6.1.js"></script>
		<script src="~/js/AnimePageScripts.js"></script>
		<link rel="stylesheet" href="/css/StyleSheet.css">
		<link rel="stylesheet" href="/css/Maincss.css" />
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link href="/css/style.css" rel="stylesheet" />
		<link rel="stylesheet" href="/css/StyleSheet.css">
		<link rel="stylesheet" href="/css/VideoPlayerStyles.css" />
		<script src="~/js/video-script.js"></script>
	</head>
	@{
		User user =  db.Users.Include(u=> u.Animes).FirstOrDefault(u => u.UserName == User.Identity.Name);
	}
	<body>
		<header>
			<input  type="checkbox" id="burger"/>
			<label for="burger">&#8801;</label>
			<nav>
				
				<ul class="nav_bar">
					<li class="nav-bar-element page-controllers"><a  asp-action="Main" asp-controller="Home">Home</a></li>
					<li class="nav-bar-element page-controllers"><a asp-action="DevelopersPage" asp-controller="Home">DevPage</a></li>
					@if (User.IsInRole("admin") || @User.IsInRole("moderator"))
					{
						<li  class="nav-bar-element page-controllers"><a asp-action="UserList" asp-controller="Admin">User's List</a></li>
						<li   class="nav-bar-element page-controllers"><a asp-action="CreateTitle" asp-controller="Admin" >Create Title</a></li>
					}
					<li   class="nav-bar-element page-controllers"><a asp-action="GetListAnime" asp-controller="Anime">Anime</a></li>
					@if(User.Identity.IsAuthenticated) {
						<li  class="nav-bar-element page-controllers"><a asp-action="Services" asp-controller="Profile">@User.Identity.Name</a></li>
		
						<li  class="nav-bar-element page-controllers">
							<form method="post" asp-controller="Account" asp-action="Logout">
								<input type="submit" value="Выход" />
							</form>
						</li>
					}
					else {
						<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Login">Login</a></li>
						<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Registration">Registration</a></li>
					}
					<li   class="nav-bar-element page-controllers" id="notice"><label for="notice_box"><img src="/img/bell.png" width="30px" height="30px"></label></li>
				</ul>
			</nav>
	</header>
	<input style="display: none" type="checkbox" id="notice_box" />
	<div class="open-notice">
		<div class="notice-info">Don't forget to upgrade your premium subscription</div>
		<div class="notice-info">Add 2FA to save your account</div>
		<div class="notice-info">Leave comments and add favorites animes</div>
	</div>
	<main>
		@if (User.IsInRole("admin") || @User.IsInRole("moderator"))
		{
			<form method="post" asp-action="DeleteAnime" asp-controller="Admin">
				<input type="number" value="@Model.SearchedAnime.Id" name="animeId" hidden>
				<input class="form-button" type="submit" value="Delete">
			</form>
			<form  asp-action="AddEpisode" asp-controller="Admin" method="post" enctype="multipart/form-data">
				<input hidden name="Name" value="@Model.SearchedAnime.TitleName">
				<input name="Episode" type="file"  />
				<input class="form-button" type="submit" value="Add">
			</form>
			
		}
		<div class="anime">
			<div id="anime-poster">
				<img src="@(@Model.SearchedAnime.Path + @Model.SearchedAnime.ImgName)"/>
				@if (User.Identity.IsAuthenticated)
				{
					<form id="add-delete-favorite-form">
						<input name="userId" type="text" value="@user.Id" hidden>
						<input name="animeId" type="number" value="@Model.SearchedAnime.Id" hidden>
					</form>
					@if (user.Animes.FirstOrDefault(a => a.TitleName == @Model.SearchedAnime.TitleName) != null)
					{
						<span id="isLiked" hidden>1</span>
						<div style="display: flex">
							<button id="heart" style="background-color: transparent; border-style: none; color: red; font-size: 50px; height: 50px;">&#10084;</button>
							<div id="counter" style="font-size: 50px;">@Model.SearchedAnime.Likes</div>
						</div>
					}
					else
					{
						<span id="isLiked" hidden>0</span>
						<div style="display: flex">
							<button id="heart" style="background-color: transparent; border-style: none; color: black; font-size: 50px; height: 50px;">&#10084;</button>
							<div id="counter" style="font-size: 50px;">@Model.SearchedAnime.Likes</div>
						</div>
					}
				}

			</div>
			<script>

			</script>
			<div id="anime-description">
				<h1>@Model.SearchedAnime.TitleName</h1>
				<p>@Model.SearchedAnime.Description</p>
			</div>
		</div>
		<div class="video-player-block">

			<div class="player">
				<video class="video" preload="auto" id="myvideo" src="~/animes/@Model.SearchedAnime.TitleName/episodes/1.mp4" height="300" width="400">
				</video>
				<div id="controlls">
					<div class="video-progress">
						<!--<output for="fader" id="volume">0</output>-->
						<input type="range" id="fader" class="progress" min="0" max="10000" value="0" step="1"/>

					</div>
					<div class="video-buttons">
						<div class="video-play">
							<img style="background-image: none;" id="play-pause" width="20px" height="20px" class="play-button" src="/img/play-buttton.png" alt="play"/>
						</div>
						<div id="volume-block" class="volume">
							<img id="volume" width="20px" height="20px" src="~/img//volume.png"/>
							<input style="display: none;" type="range" id="volume-mixer" min="0" max="100"/>

						</div>

						<div class="video-time">
							<span id="currenttime">00:00</span>
							<span>/</span>
							<span id="duration">00:00</span>
						</div>
						<div class="fullscreen-mode">
							<img id="fullmode" src="~/img/fullscreen-mode.png" width="20px" height="20px"/>
						</div>
						<script>
							function ChangeVideo(id) {
								let video = document.getElementById("myvideo");
								let newId = id + '.';
								video.src = video.src.replace(/\d+\./, newId);
								console.log(video.src);
							}
						</script>

					</div>

				</div>
			</div>
			<div class="choose-episod">
				<h2>Choose episod</h2>
				<ul>
					@for (int i = 0; i < @Model.SearchedAnime.CountEpisodes; i++)
					{
						<li><span id="@(i + 1)" onclick="ChangeVideo(@(i + 1))">Episod @(i + 1)</span></li>
					}
				</ul>
			</div>
		</div>


		<div class="comments-block">
			<div>
				<h2>Comments</h2>
			</div>

			@if (!User.Identity.IsAuthenticated)
			{
			}
			else
			{

				<div class="send-comment-block">
					<form id="send_comment_form">
						<input hidden id="userName" name="userName" type="text" value="@user.UserName">
						<input hidden id="animeId" name="animeId" type="number" value="@Model.SearchedAnime.Id">
						<textarea id="text" name="text" cols="50" rows="5"></textarea>
						<button id="send_comment">Leave</button>
					</form>
				</div>
			}

			@if (User.IsInRole("admin") || @User.IsInRole("moderator"))
			{
				<div id="list_of_comments" class="comments-list">
					@foreach (var comment in db.Comments.Where(c => c.AnimeId == @Model.SearchedAnime.Id))
					{
						<div class="author-comment">
							<figure >
								<img src="~/img/DefaultUserImg.png">
							</figure>
							<form id="delete_comment_form">
								<input value="@comment.UserName" name="userName" id="userNameForm" hidden>
								<input value="@Model.SearchedAnime.Id" name="animeId" id="animeIdForm" hidden>
								<input value="@comment.Text" name="text" hidden>
								<input type="button" id="delete_user_comment" value="Удалить">
							</form>
							<h5>@comment.UserName</h5>
							<p>@comment.Text</p>
						</div><br/>
					}
				</div>

			}
			else
			{
				<div id="list_of_comments" class="comments-list">
					@foreach (var comment in db.Comments.Where(c => c.AnimeId == @Model.SearchedAnime.Id))
					{
						<div class="author-comment">
							<figure >
								<img src="~/img/DefaultUserImg.png">
							</figure>
							<h5>@comment.UserName</h5>
							<p>@comment.Text</p>
						</div><br/>
					}
				</div>
			}
		</div>
	</main>
	<footer>
		<div class="contact">
			<h1>Contact</h1>
			<form action="#">
				<div class="contact-form">
					<div class="data-block elem1">
						<input name="name" id="name" type="text" placeholder="Name"/>
					</div>
					<div class="data-block elem2">
						<input name="surname" id="surname" type="text" placeholder="Surname" />
					</div>
					<div class="data-block elem3">
						<input name="email" id="email" type="email" placeholder="Email" />
					</div>
					<div class="data-block elem4">
						<input name="tel" id="tel" type="tel" placeholder="Phone number" />
					</div>
					<div class="data-block elem5">
						<input name="user-comment" id="user-comment" type="text" placeholder="Your message" />
					</div>
				</div>
				<div class="data-block">
					<input class="form-button" type="submit" value="Send" />

				</div>
			</form>
		</div>
		<div class="footer-info">
			<div id="about-us">
				<h1>About Us</h1>
				A web application for watching animated series anywhere and anytime
			</div>
			<div class="media-links">
				<h1>Media Links</h1>
				<div class="social">
					<a class="icons instagram" href="#">
						<i class="fab fa-instagram"></i>
					</a>
					<a class="icons youtube" href="#">
						<i class="fab fa-youtube"></i>
					</a>
					<a class="icons git" href="#">
						<i class="fab fa-github"></i>
					</a>
					<a class="icons telegram" href="#">
						<i class="fab fa-telegram"></i>
					</a>
					<a class="icons odnoklassniki" href="#">
						<i class="fab fa-odnoklassniki"></i>
					</a>
					<a class="icons vk" href="#">
						<i class="fab fa-vk"></i>
					</a>
				</div>
			</div>
			<div class="quick-links">
				<h1>Quick Links</h1>
				<p>About</p>
				<p>FAQ</p>
				<p>Privacy Policy</p>
				<p>Help</p>
				<p>Terms & Conditions</p>
			</div>
			<div class="contact-us">
				<h1>Contact Us</h1>
				<p>Address: One Microsoft Way in Redmond, Washington.</p>
				<p>Telephone: +79151937591</p>
				<p>Email: vlad.vlasov77@mail.ru</p>
			</div>
		</div>
		
		<p style="margin-top: 20px;">Copyright © 2022 SinForge. All Right Reserved</p>
	</footer>
</body>
	
</html>