@model string
<!doctype html>
<html>
	<head>
		<title>Home Page</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<h2>Регистрация</h2>
		@using (Html.BeginForm(FormMethod.Post))
		{
			<div>
				@Html.Label("user.Email", "Email")
				@Html.TextBox("user.Email")
				@Html.Label("user.Nickname", "Nickname")
				@Html.TextBox("user.Nickname")
				@Html.Label("user.Password", "Password")
				@Html.TextBox("user.Password")
				@Html.Label("user.PasswordConfirm", "Password")
				@Html.TextBox("user.PasswordConfirm")
				<input type="submit" value="Send">
			</div>
		}
		<div>
			@if(@Model != null) {
				<p>@Model.ToString()</p>
			}
		</div>
		
	</body>
</html>