@using AnimeHouse.Data
@model AddAnimeTitleViewModel;
@inject ApplicationContext db
@{
	User user =  db.Users.FirstOrDefault(u => u.UserName == User.Identity.Name);
}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/StyleSheet.css">
		<link rel="stylesheet" href="/css/Carusuel.css" />
		<link rel="stylesheet" href="/css/Maincss.css" />
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link href="/css/style.css" rel="stylesheet">

	</head>
	<body>
	<header>
		<input  type="checkbox" id="burger"/>
		<label for="burger">&#8801</label>
		<nav>
				
			<ul class="nav_bar">
				<li class="nav-bar-element page-controllers"><a  asp-action="Main" asp-controller="Home">Home</a></li>
				<li class="nav-bar-element page-controllers"><a asp-action="DevelopersPage" asp-controller="Home">DevPage</a></li>
				@if (User.IsInRole("admin") || @User.IsInRole("moderator"))
				{
					<li  class="nav-bar-element page-controllers"><a asp-action="UserList" asp-controller="Admin">User's List</a></li>
					<li   class="nav-bar-element page-controllers"><a asp-action="CreateTitle" asp-controller="Admin" >Create Title</a></li>
				}
				<li   class="nav-bar-element page-controllers"><a asp-action="GetListAnime" asp-controller="Anime">Anime</a></li>
				@if(User.Identity.IsAuthenticated) {
					<li class="nav-bar-element page-controllers">

						<div class="dropdown">
							<a style="color: black;" action="#">@User.Identity.Name</a>
							<div class="dropdown-content">
								<a asp-action="FavoriteAnimeList" asp-controller="Profile" asp-route-UserId="@user.Id">List of favorite animes</a>
								<a action="#">Account Info</a>
							</div>
						</div>
					</li>		
					<li  class="nav-bar-element page-controllers">
						<form method="post" asp-controller="Account" asp-action="Logout">
							<input class="form-button" type="submit" value="Exit" />
						</form>
					</li>
				}
				else {
					<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Login">Login</a></li>
					<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Registration">Registration</a></li>
				}
				<li   class="nav-bar-element page-controllers" id="notice"><label for="notice_box"><img src="/img/bell.png" width="30px" height="30px"></label></li>

			</ul>
		</nav>
	</header>
	<input style="display: none" type="checkbox" id="notice_box" />
	<div class="open-notice">
		<div class="notice-info">Don't forget to upgrade your premium subscription</div>
		<div class="notice-info">Add 2FA to save your account</div>
		<div class="notice-info">Leave comments and add favorites animes</div>
	</div>
	
	<main class="form-container">
		<div class="forms">
			<h2>Title creating</h2>
			<form method="post" asp-controller="Admin" asp-action="CreateTitle" class="create-anime-form" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly"> </div>
				<div class="data-block">
					<label asp-for="Title"></label><br/>
					<input  type="text" asp-for="Title"/>
					<span asp-validation-for="Title"/>
				</div>
				<div class="data-block">

					<label asp-for="ShortDescription"></label><br/>
					<input  type="text" asp-for="ShortDescription"/>
					<span asp-validation-for="ShortDescription"/>
				</div>
				<div class="data-block" style="max-width: 500px;">

					<label asp-for="Description"></label><br/>
					<textarea asp-for="Description" rows="10" cols="60"> </textarea>
					<span asp-validation-for="Description"/>
				</div>
				<div>

					<label asp-for="CountEpisodes"></label><br/>
					<input   type="number" asp-for="CountEpisodes"/>
					<span asp-validation-for="CountEpisodes"/>
				</div>
				<div class="data-block">

					<input type="file" id="input-file" asp-for="Img"/>
					<label asp-for="Img"></label>

					<span asp-validation-for="Img"/>
				</div>
				<div class="data-block">
					<h3>Select categories </h3>

					<div class="select-container">
						<select asp-for="Categories" size="15" class="list-categories">
							@foreach (var category in (List<string>)ViewData["CategoriesList"])
							{
								<option value="@category">@category</option>
							}
						</select>
					</div>

				</div>

				<input class="form-button" type="submit" value="Send">
			</form>
		</div>


	</main>
	
	</body>
</html>