@using Microsoft.AspNetCore.Identity
@model List<UserListForAdminViewModel>
<!doctype html>
<html>
	<head>
		<title>Home Page</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<h2>User list
		</h2>
		<table>
			<tr>
				<td>User Id</td>
				<td>User Email</td>
				<td>User Nickname</td>
				<td colspan="3">User Roles</td>
			</tr>
			@foreach(var User in Model) {
					<tr>
						<td>@User.UserId</td>
						<td>@User.UserEmail</td>
						<td>@User.UserNickname</td>
						<td>@foreach (var role in @User.UserRoles)
							{
								<p>@role</p>
							}
						</td>
						<td>
							<form asp-action="EditRole" asp-route-id="@User.UserId"  asp-controller="Admin" method="get">
								<input type="submit" value="Change">
							</form>
						</td>
					</tr>
			}
		</table>
	</body>
</html>