@model IEnumerable<Anime>
<!doctype html>
<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="/css/StyleSheet.css">
		<link rel="stylesheet" href="/css/Carusuel.css" />
		<link rel="stylesheet" href="/css/Maincss.css" />
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link href="/css/style.css" rel="stylesheet">
		<base href="/" />
	</head>
	<style>
			body
			{
			  background-image: url("/img/background_main.png");
			  background-repeat: no-repeat;
			  background-size: cover;
			}
		 </style>
	<body >
	<header>
		<input  type="checkbox" id="burger"/>
		<label for="burger">&#8801</label>
		<nav>
				
			<ul class="nav_bar">
				<li class="nav-bar-element page-controllers"><a asp-action="Main" asp-controller="Home">Home</a></li>
				<li class="nav-bar-element page-controllers"><a asp-action="DevelopersPage" asp-controller="Home">DevPage</a></li>
				@if (User.IsInRole("admin") || @User.IsInRole("moderator"))
				{
					<li  class="nav-bar-element page-controllers"><a asp-action="UserList" asp-controller="Admin">User's List</a></li>
					<li   class="nav-bar-element page-controllers"><a asp-action="CreateTitle" asp-controller="Admin" >Create Title</a></li>
				}
				<li   class="nav-bar-element page-controllers"><a asp-action="GetListAnime" asp-controller="Anime">Anime</a></li>
				@if(User.Identity.IsAuthenticated) {
					<li  class="nav-bar-element page-controllers"><a asp-action="Services" asp-controller="Profile">@User.Identity.Name</a></li>
		
					<li  class="nav-bar-element page-controllers">
						<form method="post" asp-controller="Account" asp-action="Logout">
							<input class="form-button" type="submit" value="Exit" />
						</form>
					</li>
				}
				else {
					<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Login">Login</a></li>
					<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Registration">Registration</a></li>
				}
				<li   class="nav-bar-element page-controllers" id="notice"><label for="notice_box"><img src="/img/bell.png" width="30px" height="30px"></label></li>

			</ul>
		</nav>
	</header>
	<input style="display: none" type="checkbox" id="notice_box" />
	<div class="open-notice">
		<div class="notice-info">Don't forget to upgrade your premium subscription</div>
		<div class="notice-info">Add 2FA to save your account</div>
		<div class="notice-info">Leave comments and add favorites animes</div>
	</div>
	<main  style="display: flex; flex-direction: column; justify-items: center; justify-content: center; align-items: center;">
		<h2>Favorite Anime List</h2>
		<div id="anime_list" class="anime-list">
			@if (Model != null)
			{
				int pos = 0;
				@foreach(var anime in Model) {
					<a asp-action="AnimePage" asp-controller="Anime" asp-route-title="@anime.TitleName" asp-route-episod=1 style="text-decoration: none;">
						<div class="anime-container" id="@pos">
							<div class="anime-list-item">
								<div class="anime-list-item-img">
									<img src="@(@anime.Path + anime.ImgName)" id="img-anime" alt="Cant found img">
								</div>
								<div class="anime-list-item-info">
									<p style="color: black;">@anime.TitleName</p>
									<div class="short-desc">
										<p><strong>Count episodes</strong>: @anime.CountEpisodes</p>
										<p><strong>Short desc</strong>: @anime.ShortDescription</p>
									</div>
								</div>
							</div>
						</div>
					</a>	
					pos++;

				}
			}
			else
			{
				<h2>We can find nothing</h2>
			}
		</div>
	</main>
		

		
	</body>
</html>